Resources/shopping_data_cleaned.txt
18 section 3.ipynb
18 section 4.ipynb
18-4 part2.ipynb
18-6-3 Hierarchical Clustering.ipynb
18-6-3-PCA KMeans.ipynb
crypto_clustering_starter_code - BK.ipynb
.ipynb_checkpoints/18 section 2__3-2-checkpoint.ipynb
.ipynb_checkpoints/18 section 3-checkpoint.ipynb
.ipynb_checkpoints/18 section 4-checkpoint.ipynb
.ipynb_checkpoints/18-4 part2-checkpoint.ipynb
.ipynb_checkpoints/18-6-3 Hierarchical Clustering-checkpoint.ipynb
.ipynb_checkpoints/18-6-3-PCA KMeans-checkpoint.ipynb
.ipynb_checkpoints/crypto_clustering_starter_code - BK-checkpoint.ipynb
.ipynb_checkpoints/crypto_clustering-checkpoint.ipynb
Resources/crypto_data.csv
Resources/iris.csv
Resources/new_iris_data.csv
Resources/shopping_data.csv
Resources/shopping_data_cleaned.csv
18 section 2__3-2.ipynb
